* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

section{
    padding: 100px 0 0 0;
}

.title-trio{
    h1{
        font-family: $cursive-font;
        color: $main-color;
        font-size: 225%;
    }

    h2{
        font-family: $main-font;
        color: $heading-gray-color;
        font-size: 300%;
        font-weight: 600;
    }

    span{
        color: #b2b2b2;
        font-family: $main-font;
        font-size: 125%;
    }
}

.cursive-title{
    font-family: $cursive-font;
    color: $main-color;
    font-size: 225%;
}

.basic-title{
    font-family: $main-font;
    color: $heading-gray-color;
    font-size: 225%;
    font-weight: 600;
}

.star{
    color: #b2b2b2;
    font-family: $main-font;
    font-size: 125%;
}

.description-text{
    font-family: $text-font;
    line-height: 1.8;
    color: $text-color;
}

.underlined-text{
    border-bottom: 2px solid;
    
    padding-bottom: 3px;
    margin-top: 30px;

    letter-spacing: 2px;
    font-size: 87%;
    font-weight: 600;
    font-family: $text-font;
    color: $main-color;
    text-transform: uppercase;
    transition: all .3s;

    &:hover{
        color: black;
    }
}