.contact{
    .contact-info{
        display: flex;
        flex-direction: column;
    
        p{
            align-self: center;
            margin-bottom: 10%;
            font-family: $text-font;
        }
    
        h4{
            align-self: center;
            margin-bottom: 10%;
        }
    }

    .map-container{
        overflow:hidden;
        height:100%;
        width:100%;
    }

    .map-container iframe{
        //left:0;
        //top:0;
        height:90%;
        width:90%;
        //position:absolute;
    }
}
