footer{
    height: 60vh;
    background: linear-gradient(
          rgba(255, 255, 255, 0.5), 
          rgba(255, 255, 255, 0.5)),url(../img/pattern-footer.jpg);
}

.restaurant-footer{ 
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    h5{
        font-family: $main-font;
        font-size: 125%;
        margin: 10px 0 5px;
    }

    p{
        font-size: 80%;
        font-family: $text-font;
        color: $fade-gray;
    }

    input{
        border-radius: 30px;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
        border: 0;
        padding: 1% 2%;
        width: 25%;
    }

    .social-media{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;

        li{
            padding: 20% 30%;
        }

    }

    .links{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;

        li{
            padding: 0% 10%;

            a{
                text-transform: uppercase;
                font-family: $text-font;
            }
        }
    }

    a, a:link, a:hover, a:active, a:visited{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
    }
}

