
.navbar{
    z-index: 300;


    .navbar-brand{
        font-size: xx-large;
    
        @include hover-focus {
            color: #fff !important;
        }  
    }

    .nav-link{
        transition: all 0.3s;


        @include hover-focus {
            color: $main-color !important; 
        }  
    }

}
 
header{
    position: relative;
    font-family: $main-font;
    height: 100vh;

    .carousel{
        .carousel-item{
            height: 100vh;
            letter-spacing: 1px;
        }

        .carousel-item img{
            filter: brightness(50%);     
        }

        .carousel-item h5{
            font-size: 350%;
            font-weight: 700;
            padding-bottom: 2%;
        }

        .carousel-item p{
            font-family: $text-font;
            font-weight: 300;
            font-size: 110%;
        }

        .carousel-item .btn{
            border-radius: 30px;
            font-size: 80%;
            padding-left: 35px;
            padding-right: 35px;
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: $main-color;
            border-color: $main-color;
            letter-spacing: 1px;
            color: white;
            text-transform: uppercase;
            transition: all 0.3s;
        }

        .carousel-item .btn:hover{  
            background-color: transparent;
            border-color: $main-color;
            color: $main-color;
        }

    }
}

.bg-transparent{
    transition: all 0.7s;
    background-color: transparent !important;
    height: 80px;
}

.bg-transparent.scrolled{
    background-color: black !important;
    height: 60px;
}