.menu-section{
    background: linear-gradient(rgba(255, 255, 255, 0.711), rgba(255, 255, 255));
}

.menu-icon{
    height: 60px;
    width: 60px;
}

.menu-column{
    display: flex;
    flex-direction: column;
}

.menu-item{
    border-bottom: 1px dashed #e6e6e6;
    padding: 0;
    margin: 0;
}

.menu-item-title{
    color: $heading-gray-color;
    font-size: 135%;
    font-weight: 590;
    font-family: $main-font;
}

.menu-item-description{
    font-family: $text-font;
    color:$text-color;
    line-height: 1.8;
}

.menu-item-price{
    font-family: $text-font;
    font-size: 110%;
    color: $main-color;
}

.full-menu-text,
.full-menu-text:hover{
    color: $fade-gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: $text-font;
    text-decoration: underline;
    font-size: 90%;
}

.hour-text{
    color: $fade-gray;
}

.menu-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

