.news-text{
    font-family: $text-font;
    color: $text-color;;
    line-height: 1.8;
    text-align: left;
    font-weight: 400;
}

.events{
    list-style: none;
    margin-right: 10%;

    .event{
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        padding: 30px;
        margin-bottom: 6%;

        a{
            display: block;
            font-size: 125%;
            font-family: $main-font;
            text-decoration: none;
            color: $text-color;
            font-weight: bold;
        }

        span{
            font-family: $text-font;
            color: $fade-gray;
            font-size: 80%;
        }
    
    }
}


