@media only screen and (max-width: 1200px){
    body{ font-size: 16px; }
}

@media only screen and (max-width: 1023px){
    body{ font-size: 14px; }

    header{
        height: 60vh;

        .carousel{
            .carousel-item{
                height: 60vh;
            }
        }
    }

    .header-title-1 {
        font-size: 250%;
        padding-bottom: 10%;
    }
}

@media only screen and (max-width: 767px){
    body{ font-size: 14px; }

    header{
        height: 40vh;

        .carousel{
            .carousel-item{
                height: 40vh;

                h5{
                    font-size: 150%;
                    padding-bottom: 0%;
                }
            }

        }
    }

    .full-menu-text,
    .full-menu-text:hover{ margin-top: 5%; }

    .menu-icon{ margin-top: 8%; }

    .fixed-top { position: static !important; }

    .bg-transparent{ 
        background-color: black !important;
        height: 60px;
    }
}

@media only screen and (max-width: 480px){
    body{ font-size: 12px; }

    header{
        .carousel{
            .carousel-item{
                h5{
                    font-size: 200%;
                    padding-bottom: 0%;
                }
            }
        }
    }

    .news-text{
        margin: 0 5%;
    }
}