.review-section{
    height: 60vh;
    background: url('../img/pattern.jpg');

    .carousel{

        .carousel-item{
            height: 60vh;
        }

        .carousel-inner .carousel-item .carousel-caption{
            color: black;
        }
        
        .carousel-indicators{
            bottom: 20%;
        }
        
        .carousel-indicators li {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            border: 2px solid $main-color;
        }
        
        .carousel-indicators li.active{
            background-color: $main-color;
        }

        .carousel-caption{
            padding-left: 2% !important;
            padding-right: 2% !important;
        }
        
    }

}

.review-text{
    font-family: $text-font;
    font-size: 125%;
    line-height: 1.5;
    font-weight: 500;
    color: $text-color;
}

.review-author{
    font-family: $main-font;
    font-size: 112%;
    font-weight: 600;
    letter-spacing: 2px;
}

.review-title{
    font-family: $main-font;
    font-size: 87%;
    font-weight: 500;
}

