
// Color

$main-color:#dca93d;
$heading-gray-color: #443f3f;
$text-color: #47425d;
$fade-gray: #919090;


// Font Family

$main-font: 'Playfair Display', serif;
$cursive-font: 'Allura', cursive;
$text-font: 'Cabin', sans-serif;